# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config_google import api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("./results/weather_data.csv")
cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Rikitea,-23.1203,-134.9692,76.03,79,100,12.64,PF,1623514619
1,Flinders,-34.5833,150.8552,56.17,65,1,8.01,AU,1623514889
2,Kruisfontein,-34.0033,24.7314,60.89,73,100,3.27,ZA,1623514620
3,Bathsheba,13.2167,-59.5167,88.41,55,40,17.27,BB,1623514889
4,Albany,42.6001,-73.9662,73.89,74,97,2.39,US,1623514411

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=api_key)

In [4]:
# Use Lat and Lng as locations
locations = cities[['Lat','Lng']]

# Use Humidity as weight
weight = cities['Humidity']

In [5]:
# Add heatmap layer
fig = gmaps.figure(center=(40.52, 0), zoom_level = 1.8)

heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
filtered_cities = cities[(cities['Max Temp'] < 80) & (cities['Max Temp'] > 70) & (cities['Wind Speed'] < 10) & \
                        (cities['Cloudiness'] < 10)]

filtered_cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
45,San Lorenzo,-25.3333,-57.5333,70.74,56,0,5.01,PY,1623514789
62,Lewiston,44.1003,-70.2148,77.05,52,1,4.61,US,1623514298
121,East Grinstead,51.1238,-0.0061,77.81,49,0,1.99,GB,1623514442
123,Mossamedes,-15.1961,12.1522,76.82,58,5,8.66,AO,1623514443
145,Ukiah,39.1502,-123.2078,73.04,71,1,4.61,US,1623514409
162,Jardim,-21.4803,-56.1381,76.19,35,0,4.14,BR,1623514456
171,Margate,51.3813,1.3862,77.86,50,6,3.27,GB,1623514459
177,Kamina,-8.7386,24.9906,72.57,41,0,3.56,CD,1623514674
214,Tabora,-5.0167,32.8000,72.75,47,1,3.62,TZ,1623514478
254,Laguna,38.4210,-121.4238,77.09,66,1,0.00,US,1623514493
305,Nazca,-14.8333,-74.9500,75.16,42,0,4.16,PE,1623514514
321,Kieta,-6.2167,155.6333,77.32,76,9,7.29,PG,1623514718
344,Seoul,37.5683,126.9778,70.99,94,0,2.30,KR,1623514644
355,Masuguru,-11.3667,38.4167,74.03,45,2,3.83,TZ,1623514532
371,Alyangula,-13.8483,136.4192,71.80,84,5,7.43,AU,1623514537
431,Salinas,36.6777,-121.6555,71.22,64,1,9.22,US,1623514567
439,Mercedes,-34.6515,-59.4307,71.19,51,4,8.66,AR,1623514567
453,Mabama,-5.1333,32.5333,73.00,48,0,4.54,TZ,1623514572
466,Pacific Grove,36.6177,-121.9166,70.81,68,1,3.00,US,1623514522
490,Pozo Colorado,-23.4923,-58.7972,73.71,44,0,4.50,PY,1623514590
517,Honiara,-9.4333,159.9500,77.07,89,7,4.74,SB,1623514601
542,Illapel,-31.6308,-71.1653,75.04,20,1,2.24,CL,1623514610

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Variable named hotel_df
hotel_df = filtered_cities[['City', 'Country', 'Lat', 'Lng']]

# Add column
hotel_df['Hotel Name'] = ''

hotel_df

<ipython-input-7-896efb14fda8>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = ''

               City Country      Lat       Lng Hotel Name
45      San Lorenzo      PY -25.3333  -57.5333
62         Lewiston      US  44.1003  -70.2148
121  East Grinstead      GB  51.1238   -0.0061
123      Mossamedes      AO -15.1961   12.1522
145           Ukiah      US  39.1502 -123.2078
162          Jardim      BR -21.4803  -56.1381
171         Margate      GB  51.3813    1.3862
177          Kamina      CD  -8.7386   24.9906
214          Tabora      TZ  -5.0167   32.8000
254          Laguna      US  38.4210 -121.4238
305           Nazca      PE -14.8333  -74.9500
321           Kieta      PG  -6.2167  155.6333
344           Seoul      KR  37.5683  126.9778
355        Masuguru      TZ -11.3667   38.4167
371       Alyangula      AU -13.8483  136.4192
431         Salinas      US  36.6777 -121.6555
439        Mercedes      AR -34.6515  -59.4307
453          Mabama      TZ  -5.1333   32.5333
466   Pacific Grove      US  36.6177 -121.9166
490   Pozo Colorado      PY -23.4923  -58.7972
517         Honiara      SB  -9.4333  159.9500
542         Illapel      CL -31.6308  -71.1653

In [10]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {'type' : 'hotel',
          'keyword' : 'hotel',
          'radius' : 5000,
          'key' : api_key}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # city information
    latitude = row['Lat']
    longitude = row['Lng']
    city = row ['City']

    # add keyword to params dict
    params['location'] = f"{latitude},{longitude}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"The closest hotel in {city} is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
       
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 45: San Lorenzo.
The closest hotel in San Lorenzo is Factoria Hotel.
------------
Retrieving Results for Index 62: Lewiston.

C:\Users\najez\Anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

The closest hotel in Lewiston is Residence Inn by Marriott Auburn.
------------
Retrieving Results for Index 121: East Grinstead.
The closest hotel in East Grinstead is Travelodge East Grinstead.
------------
Retrieving Results for Index 123: Mossamedes.
The closest hotel in Mossamedes is Hotel Chik Chik Namibe.
------------
Retrieving Results for Index 145: Ukiah.
The closest hotel in Ukiah is Hampton Inn Ukiah.
------------
Retrieving Results for Index 162: Jardim.
The closest hotel in Jardim is Hotel Jardim.
------------
Retrieving Results for Index 171: Margate.
The closest hotel in Margate is Royal Albion Hotel.
------------
Retrieving Results for Index 177: Kamina.
Missing field/result... skipping.
------------
Retrieving Results for Index 214: Tabora.
The closest hotel in Tabora is Ristalemi Hotel.
------------
Retrieving Results for Index 254: Laguna.
The closest hotel in Laguna is Hampton Inn & Suites Sacramento-Elk Grove Laguna I-5.
------------
Retrieving Results for Index 305: Nazca.
The closest hotel in Nazca is Hotel Nazca Lines.
------------
Retrieving Results for Index 321: Kieta.
Missing field/result... skipping.
------------
Retrieving Results for Index 344: Seoul.
The closest hotel in Seoul is Lotte Hotel Seoul.
------------
Retrieving Results for Index 355: Masuguru.
Missing field/result... skipping.
------------
Retrieving Results for Index 371: Alyangula.
The closest hotel in Alyangula is Groote Eylandt Lodge.
------------
Retrieving Results for Index 431: Salinas.
The closest hotel in Salinas is Courtyard by Marriott Salinas Monterey.
------------
Retrieving Results for Index 439: Mercedes.
The closest hotel in Mercedes is Gran Hotel Mercedes.
------------
Retrieving Results for Index 453: Mabama.
Missing field/result... skipping.
------------
Retrieving Results for Index 466: Pacific Grove.
The closest hotel in Pacific Grove is Monterey Plaza Hotel & Spa.
------------
Retrieving Results for Index 490: Pozo Colorado.
The closest hotel in Pozo Colorado is Hotel Marriot ⭐️⭐️⭐️⭐️.
------------
Retrieving Results for Index 517: Honiara.
The closest hotel in Honiara is Heritage Park Hotel.
------------
Retrieving Results for Index 542: Illapel.
The closest hotel in Illapel is Hotel Casablanca.
------------

In [11]:
# Verify hotel dataframe
hotel_df

,City,Country,Lat,Lng,Hotel Name
45,San Lorenzo,PY,-25.3333,-57.5333,Factoria Hotel
62,Lewiston,US,44.1003,-70.2148,Residence Inn by Marriott Auburn
121,East Grinstead,GB,51.1238,-0.0061,Travelodge East Grinstead
123,Mossamedes,AO,-15.1961,12.1522,Hotel Chik Chik Namibe
145,Ukiah,US,39.1502,-123.2078,Hampton Inn Ukiah
162,Jardim,BR,-21.4803,-56.1381,Hotel Jardim
171,Margate,GB,51.3813,1.3862,Royal Albion Hotel
177,Kamina,CD,-8.7386,24.9906,
214,Tabora,TZ,-5.0167,32.8000,Ristalemi Hotel
254,Laguna,US,38.4210,-121.4238,Hampton Inn & Suites Sacramento-Elk Grove Lagu...
305,Nazca,PE,-14.8333,-74.9500,Hotel Nazca Lines
321,Kieta,PG,-6.2167,155.6333,
344,Seoul,KR,37.5683,126.9778,Lotte Hotel Seoul
355,Masuguru,TZ,-11.3667,38.4167,
371,Alyangula,AU,-13.8483,136.4192,Groote Eylandt Lodge
431,Salinas,US,36.6777,-121.6555,Courtyard by Marriott Salinas Monterey
439,Mercedes,AR,-34.6515,-59.4307,Gran Hotel Mercedes
453,Mabama,TZ,-5.1333,32.5333,
466,Pacific Grove,US,36.6177,-121.9166,Monterey Plaza Hotel & Spa
490,Pozo Colorado,PY,-23.4923,-58.7972,Hotel Marriot ⭐️⭐️⭐️⭐️
517,Honiara,SB,-9.4333,159.9500,Heritage Park Hotel
542,Illapel,CL,-31.6308,-71.1653,Hotel Casablanca

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))